@font-face {
	font-family: 'amigocat';
	src:url('../fonts/amigocat.eot');
	src:url('../fonts/amigocat.eot?#iefix') format('embedded-opentype'),
		url('../fonts/amigocat.woff') format('woff'),
		url('../fonts/amigocat.ttf') format('truetype'),
		url('../fonts/amigocat.svg#amigocat') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amigocat2';
	src:url('../fonts/amigocat2.eot?qi001b');
	src:url('../fonts/amigocat2.eot?#iefixqi001b') format('embedded-opentype'),
		url('../fonts/amigocat2.woff?qi001b') format('woff'),
		url('../fonts/amigocat2.ttf?qi001b') format('truetype'),
		url('../fonts/amigocat2.svg?qi001b#amigocat2') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Nitti';
    src: url('../fonts/Nitti.eot');
    src: url('../fonts/Nitti.eot') format('embedded-opentype'),
         url('../fonts/Nitti.woff2') format('woff2'),
         url('../fonts/Nitti.woff') format('woff'),
         url('../fonts/Nitti.ttf') format('truetype'),
         url('../fonts/Nitti.svg#Nitti') format('svg');
}

[data-icon]:before {
	font-family: 'amigocat';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Instead you can use the generic selector but it's slower:
[class*="icon-"]
*/
.icon-twitter, .icon-facebook, .icon-google, .icon-pencil, .icon-cog, .icon-search, .icon-globe, .icon-star, .icon-star-2, .icon-star-3, .icon-list, .icon-earth, .icon-info, .icon-amigocat-logo, .icon-Bing_logo, .icon-taas {
	font-family: 'amigocat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-facebook:before {
	content: "\e001";
}
.icon-google:before {
	content: "\e002";
}
.icon-pencil:before {
	content: "\e003";
}
.icon-cog:before {
	content: "\e004";
}
.icon-search:before {
	content: "\e005";
}
.icon-globe:before {
	content: "\e006";
}
.icon-star:before {
	content: "\e007";
}
.icon-star-2:before {
	content: "\e008";
}
.icon-star-3:before {
	content: "\e009";
}
.icon-list:before {
	content: "\e00a";
}
.icon-earth:before {
	content: "\e00b";
}
.icon-info:before {
	content: "\e00c";
}
.icon-amigocat-logo:before {
	content: "\e00d";
}
.icon-Bing_logo:before {
	content: "\e00e";
}

[class^="cat-"], [class*=" cat-"], .removeFile{
	font-family: 'amigocat2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cat-preferences:before {
	content: "\e61d";
}
.cat-print:before {
	content: "\e61e";
}
.cat-cat:before {
	content: "\e61c";
}
.cat-question-mark:before {
	content: "\e61b";
}
.cat-TAUS:before {
	content: "\e61a";
}
.cat-download:before {
	content: "\e618";
}
.cat-link:before {
	content: "\e619";
}
.cat-MT:before {
	content: "\e613";
}
.cat-bubble:before {
	content: "\e612";
}
.cat-close2:before {
	content: "\e611";
}
.cat-burger:before {
	content: "\e609";
}
.cat-proz:before {
	content: "\e606";
}
.cat-check:before {
	content: "\e607";
}
.cat-gear:before {
	content: "\e605";
}
.cat-bing:before {
	content: "\e60a";
}
.cat-eye:before {
	content: "\e60b";
}
.cat-g:before {
	content: "\e60c";
}
.cat-pen:before {
	content: "\e60d";
}
.cat-star:before {
	content: "\e60e";
}
.cat-stats:before {
	content: "\e60f";
}
.cat-TM:before {
	content: "\e610";
}
.cat-log:before {
	content: "\e603";
}
.cat-dead:before {
	content: "\e608";
}
.cat-calendar:before {
	content: "\e602";
}
.cat-google:before {
	content: "\e601";
}
.cat-close:before {
	content: "\e604";
}
.cat-in:before {
	content: "\e600";
}
.cat-apple:before {
	content: "\e614";
}
.cat-oulook:before {
	content: "\e615";
}
.cat-up:before {
	content: "\e616";
}
.cat-down:before {
	content: "\e617";
}

.icon-taas {
    background: url("../img/logo16.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    height: 200% !important;
    margin-right: 15px;
    margin-top: -7px;
    padding-left: 75px;
}

.icon-taus-small {
    background: url("../img/logo16.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline;
    margin-right: 0;
    padding-left: 25px;
}