@charset "UTF-8";

body{
	font-family: Open Sans, 'Open Sans', sans-serif;
}

.custom-form{
	margin: 150px auto 2em;
}

.custom-form h2{
	color: #d8d8d8;
	font-size: 36px;
	padding: 0 0 10px 68px;
}

.custom-form.login-form{
	width: 490px;
}

.custom-form .form-actions{
	text-align: left;
	font-size: 12px;
	color: #707070;
	padding-left: 68px;
}

.custom-form a{
	color: #707070;
}
.custom-form a:hover, .custom-form a:focus{
	color: #000;
}
.custom-form .some-button a {
	color: #FFF;
}
.custom-form .some-button a:hover, .custom-form .some-button a:focus{
    color: #9CCED8;
}


div.social_container{
	width: auto;
	margin: 0;
}

a.social{
	width: 195px;
	margin: 10px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 15px;
	position: relative;
	font-family: Open Sans, 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}
.social:before{
	position: absolute;
	right: 10px;
	font-size: 18px;
	top: 8px;
	font-family: 'amigocat';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.social[class^="cat-"]:before, .social[class*=" cat-"]:before{
	font-family: 'amigocat2';
}
.icon-twitter{
	background: #59B0FF;
}
.icon-facebook{
	background: #2D6699;
}
.cat-google{
	background: #CD3C49;
}
.cat-in{
	background: #447CCF;
}
.cat-in:before{
	font-size: 15px;
}
.social:hover, .social:focus, .custom-form .social:hover, .custom-form .social:focus{
	color: rgba(255, 255, 255, 0.7);
}

#footer{
	background: #f8f8f8;
	border-top: 1px solid #d9d9d9;
	padding: 25px 0;
}
#footer a:hover, #footer a:focus{
	color: #000;
}
#footer .nav li:after {
	color: #999;
}
#footer.bottom{
	position: fixed;
	width: 100%;
	bottom: 0;
}