/* ----------------------------------------------------------
   Tableau de trad
   ------------------------------------------------------- */

.table-trad {
    width: 100%;
    background: #F3F3F3;
    display: table;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    font-family: Nitti, 'Nitti';
}
.reviewer.table-trad{
    font-family: Open Sans, 'Open Sans', sans-serif;
}
.table-trad.darkmode{
    color: #c9c9c9;
    background: #313131;
}

.tt-row {
    position: relative;
    display: table-row;
    height: 100%;
}

.tt-row-block {
    display: table-row;
    background: #fff;
}
.darkmode .tt-row-block{
    background: #4f4f4f;
    color: #b0b0b0;
}
.icon-pencil {
    color: #000;
}
.tt-row-block .icon-pencil {
    opacity: 0;
    cursor: default;
}

.tt-row-block b.translation-area {
    display: inline-block;
    font-weight: normal;
}
.ttr-cel {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.trad-table-cel{
    padding: 0;
}

.darkmode .ttr-cel{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.lt_ie9 .ttr-cel { float: left; }

.ttr-cel.is-notif { width: 1.57%; }

.ttr-cel.is-id {
    width: 5%;
}

.ttr-cel.is-original {
    width: 40%;
    padding-right: 50px;
    border-right: 1px #f3f3f3 solid;
}

.darkmode .ttr-cel.is-original {
    border-right-color: #5f5f5f;
}

.ttr-cel.is-trad { width: 46.76%; }

.is-status {
    vertical-align: middle;
    position: relative;
    display: table-cell;
    width: 5%;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.darkmode .is-status{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.reviewer .ttr-cel{
    border-bottom: 1px #f3f3f3 solid;
}
.tt-row-block.active .is-status, .reviewer .is-status, .reviewer .ttr-cel{
    opacity: 1;
}
.reviewer .trad-table-cel .ttr-cel{
    border: 0;
}

/* Notifs
   ----------------------- */

.ttr-cel.is-notif {
	padding: 0 7px;
}

.notifs {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
    background-clip: border;
    *display: inline;
    *zoom: 1;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif
}

.notifs.is-one {
	background: #FBA617;
}
.notifs.is-two {
	background: #34E0C2;
}
.notifs.is-none{
    display: none;
}

/* ID
   ----------------------- */

.ttr-cel.is-id span {
	color: #000;
	font-size: 12px;
    font-family: 'Open Sans', sans-serif
}

.darkmode .ttr-cel.is-id span {
    color: #ffffff;
}

/* Trad
   ----------------------- */

.ttr-cel.is-trad {
	border-left : 1px #E9E9E9 solid;
	padding: 0 0 0 21px;
}

.ttr-cel.is-trad i {
    display: none;
}

/* Etat
   ----------------------- */

.status {
    display: block;
    height: 16px;
    width: 16px;
    font-family: 'Open Sans', sans-serif
}

.status.is-ok {
    background: url(../images/greenNotif.png) no-repeat;
}
.status.not-ok{
    background: url(../images/orangeNotif.png) no-repeat;
}
.status.is-error{
    background: url(../images/redNotif.png) no-repeat;
}

.error-alert{
    position: absolute;
    top: -1px;
    right: 0;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #FE1820;
    background: #FFCCCC;
    border: 1px dotted;
}
.is-status .error-line{
    display: block;
    height: 66%;
    width: 1px;
    border-right: 1px dotted #FE1820;
    position: absolute;
    top: -45%;
    left: 6px;
}

/* Ligne active */
.table-trad.first-active {
    padding: 350px 0 0;
}
.table-trad.second-active {
   padding-top: 60px;
}
.table-trad.last-active{
    padding-bottom: 510px;
}

.tt-row.is-active .ttr-cel.is-trad {
    position: relative;
    height: 158px;
    border-left-color: #D8D8D8;
    line-height: 158px;
}

/* Workspace */
.is-workspace {
    width: 53%;
    border-left: 1px #E8E8E8 solid;
    background: #fff;
    position: relative;
}
.darkmode .is-workspace{
    background: #313131;
    border-left-color: #5f5f5f;
}
/*.is-workspace .fix-wrapper {
    position: relative;
    padding: 0 0 0 0;
    min-height: 100%;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}*/
 .tr-form-table {
    height: 100%;
    width: 100%;
    display: table;
}
.tr-form-cell {
    display: table-cell;
    vertical-align: middle;
    width: 83%;
}
.fix-wrapper .ttr-cel-trad-block {
    border: 0;
    display: inline-block;
    width: 100%;
}
.is-workspace i.icon-google {
    color: #a83e4c;
}
.is-workspace > .ttr-cel-trad-block {
    width: 100%!important;
    padding: 0!important;
    border: none!important;
    background: #fff;
    display: block;
}
.ttr-cel-trad-block {
    padding: 0;
}
.is-workspace .trad-list {
    display: none;
    visibility: hidden;
    position: absolute;
    border-left: 1px #A7A7A7 solid;
    line-height: 1.2;
}
.tt-row-block.active .is-search {
    display: block;
}
.tt-row-block.active .is-suggestions {
    display: block;
}
.tt-row-block.active .trad-list {
    display: block;
    visibility: visible;
    z-index: 2;
    left: -1px;
    width: 100%;
}
.is-workspace .tl-item {
    border-top: 1px #A7A7A7 solid;
    *border-right: 1px #A7A7A7 solid;
    *border-left: 1px #A7A7A7 solid;
    line-height: 24px;
    color: #8a8a8a;
    background: #fff;
    cursor: pointer;
}
.darkmode .is-workspace .tl-item {
    background: #424242;
    color: #c9c9c9;
}
.is-workspace .tl-item span {
    display: inline-block;
    padding-left: 19px;
    vertical-align: middle;
}
.js-suggestion-accept {
    cursor: pointer;
}

/* /Workspace */

/* ACTIVE block behavior */
.tt-row-block.active {
    margin: 0!important;
    border-color: #D8D8D8;
    opacity: 1;
}
.darkmode .tt-row-block.active {
    background: #313131;
}
.tt-row-block.active + .tt-row-block {
    margin: 0px!important;
}
.tt-row-block.active .icon-pencil {
    opacity: 1;
    cursor: pointer;
}

.tt-row-block.active b.translation-area {
    display: none!important;
}

.tt-row-block div.spellchecker {
    display: none!important;
}
.tt-row-block.active .spellchecker {
    color: #000;
    line-height: 19px;
}
.darkmode .tt-row-block.active .spellchecker {
    color: #ffffff;
}
.tt-row-block.active div.spellchecker {
    display: inline-block!important;
}
.tt-row-block.active .spellchecker span {
    width: auto!important;
    padding-left: 0!important;
    font-size: inherit!important;
}

.tt-row-block.active .spellchecker span {
    font-size: inherit !important;
    height: auto;
    line-height: 17px;
    padding-left: 0 !important;
    width: auto !important;
}

.tt-row-block.active .ttr-cel.is-original {
    color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: 0;
}
.darkmode .tt-row-block.active .ttr-cel.is-original{
    color: #ffffff;
}
.tt-row-block.active .ttr-cel.is-original.too-many-words{
    background: url(../images/notifWords.png) no-repeat 92% 88%;
}
.tt-row-block.active .ttr-cel{
    border-top: 1px solid #A7A7A7;
    border-bottom: 1px solid #A7A7A7;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
}
.tt-row-block.active .is-notif{
    border-left: 7px solid #008BA6;
    position: relative;
}
.tt-row-block.active .ttr-cel-trad-block{
    border: 0;
    padding: 50px 0;
}

.block-tradmore {
    z-index: 4;
    position: absolute;
    width: 100%;
    *display: none;
    *visibility: hidden;
    *position: relative;
    *left: -98%;
}
.tt-row-block.active .block-tradmore {
    display: table;
    border: 1px solid #A7A7A7;
    border-right: 0;
    border-top: 0;
}

/* /ACTIVE block behavior */

.table-trad.has-lineactive .tt-row.is-active div {
    color: #191919;
}


.is-search span.icon-logo {
    width: 20px;
    margin-right: 17px;
    vertical-align: middle;
}

.trad-list.is-results {
    top: 100%;
}

.table-trad.has-lineactive .tt-row.is-active .tl-item {
    height: 52px;
    border-top: 1px #D8D8D8 solid;
    border-left: 1px #D8D8D8 solid;
    line-height: 52px;
    color: #8a8a8a;
}

.tl-item i {
    position: relative;
    top: 3px;
    font-size: 25px;
}
.tl-item .cat-bing{
    font-size: 17px;
    padding: 0 0 0 6px;
    top: 0;
    color: #FFB900;
}

.bt-row {
    display: table-row;
    background: #FFF;
    padding: 20px 0;
}
.darkmode .bt-row{
    background: #424242;
    color: #c9c9c9;
}
.bt-row.is-head {
    display: none;
    background-color: #F5F5F5;
}
.bt-row + .bt-row .btr-cell {
    border-top: 1px #D8D8D8 solid;
}

.bt-row.is-head .btr-cell {
    text-shadow: 0 1px 0 #FFF;
    font-size: 18px;
    color: #4A4A4A;
    background-color: #F5F5F5;
}
.bt-row.is-active {
    background: #fff
}
.bt-row.is-active .btr-cell {
    color: #191919;
}

.bt-row.is-active .btr-cell + .btr-cell {
    background: transparent url(../images/icons/icn-enter.png) 97% 50% no-repeat;
}

.btr-cell {
    /*display: table-cell;
    width: 8.98%;
    height: 49px;
    line-height: 49px;*/
    vertical-align: middle;
    color: #8A8A8A;
}
.darkmode .btr-cell{
    color: #c9c9c9;
}
.btr-cell i {
    margin-left: 10px;
}
.btr-cell:first-child {
    text-align: center;
}

/*.btr-cell + .btr-cell {
    width: auto;
}*/

.btr-cell i {
    position: relative;
    top: 4px;
    font-size: 20px;
}

.bt-close {
    display: none;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    background: transparent url(../images/icons/icn-close_tradmore.png) 50% no-repeat;
}


/* AMAGAMA */
.is-amagama {
    *left: auto!important;
    left: -1px;
}
.is-amagama .bt-row + .bt-row .btr-cell {
    border: none!important;
}
.is-amagama .bt-row.js-editor-copytext {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #A7A7A7;
}
.is-amagama div:last-child .bt-row.js-editor-copytext:last-child {
    border-bottom: 0;
}

.is-amagama .btr-cell {
    display: inline-block;
    /*overflow: auto;*/
}
.is-amagama .is-head {
    text-shadow: 0 1px 0 #FFF;
    font-size: 18px;
    color: #4A4A4A;
    background: #F5F5F5;
    padding-left: 20px;
}
.is-amagama .is-head .btr-cell {
    margin-left: 10px;
}
.is-amagama .amagama-score {
       color: #9B9B9B;
       margin: 0 14px;
       width: 28px;
       font-size: 10px;
       font-family: 'Open Sans', sans-serif
}

/* ----------------------------------------------------------
   Différents layouts
   ------------------------------------------------------- */

/* Has layout
   ----------------------- */

.layout-table.has-layout {
    background: transparent url(../images/bgs/bg-white.jpg) 0 -1px repeat;
}

.layout-table.has-layout .table-trad {
    width: 1040px;
    margin: 0 auto;
}

.layout-table.has-layout .tt-row {
    border-left: 0;
    background: #fff;
}

/* Is Quick
   ----------------------- */

.layout-table.has-layout .ttr-cel.is-notif {
    width: 3.36%;
    background: #f5f5f5;
}

.layout-table.has-layout .ttr-cel.is-id {
    width: 2.40%;
    background: #f5f5f5;
}

.layout-table.has-layout .ttr-cel.is-id span {
    color: #ada9a9;
}

.layout-table.has-layout .ttr-cel.is-original {
    width: 47.12%;
    padding-left: 20px;
}

.layout-table.has-layout .ttr-cel.is-trad {
    width: 43.27%;
}

.layout-table.has-layout .ttr-cel.is-status {
    width: 3.85%;
}

/* Is dark
   ----------------------- */

.layout-table.has-layout.is-dark .ttr-cel.is-notif, .layout-table.has-layout.is-dark .ttr-cel.is-id{
    background: #444;
    border-color:#525151;
}

.layout-table.has-layout.is-dark .ttr-cel.is-id {
    border-right: 1px solid;
}

.layout-table.is-dark .ttr-cel.is-id span {
    color: #acacac;
}

.layout-table.has-layout.is-dark .ttr-cel.is-trad {
    width: 43.27%;
}

.layout-table.has-layout.is-dark .ttr-cel.is-status {
    width: 3.85%;
}

.layout-table.has-layout.is-dark .ttr-cel.is-status {
    background: #fff;
}

.layout-table.has-layout.is-dark {
    background-image: url(../images/bgs/bg-black.jpg);
}

/* Is loupe
   ----------------------- */

.layout-table.is-loupe.is-dark {
    background: transparent url(../images/bgs/bg-black.jpg) 50% 0 repeat;
}

.layout-table.is-dark .ttr-cel.is-notif,
.layout-table.is-dark .ttr-cel.is-id {
    background: #303030;
}

.layout-table.is-dark .ttr-cel.is-trad,
.layout-table.is-dark .ttr-cel.is-original {
    background: #fff
}

.layout-table.is-loupe .ttr-cel.is-original {
    padding-left: 20px;
}

.layout-table.is-loupe .ttr-cel.is-trad {
    width: 16.76%
}

.layout-table.is-loupe .trad-list {
    right: 0;
}

.layout-table.is-loupe .ttr-cel.is-status {
    width: 43.33%;
    text-align: right;
    padding-right: 50px;
}

.is-taas span{
    color: #000000 !important;
    font-size: 15px !important;
}

.is-taas span:hover{
    cursor: pointer;
}

.btr-cell-i {
    font-size: 12px !important;
}

.translation-result{
    padding-right: 19px;
}

.translate-translation, .is-original {
    word-wrap: break-word;
}

.erase-btn{
    display: inline-block;
    margin: 0 10px 0 23px;
    color: #D0D0D0;
}

.table-trad.first-active .first-step, .table-trad.last-active .last-step{
    display: block;
}
.first-step, .last-step{
    position: absolute;
    color: #BEBEBE;
    font-size: 16px;
    left: 50%;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 1px 0 #fff;
}
.first-step{
    top: 65px;
    margin-left: -88px;
    display: none;
}
.last-step{
    bottom: 60px;
    margin-left: -73px;
    text-align: center;
    display: block;
    background: url(../img/end.png) no-repeat 50% 0;
    padding-top: 120px;
    display: none;
}
.last-step .some-button{
    margin: 20px 0;
    text-shadow: none;
}
.last-step span{
    font-size: 14px;
    font-style: italic;
}
.reviewer .last-step{
    color: #707070;
    margin-left: -100px;
}

.ctrlF{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}
.ctrlF .icon-search{
    background: none;
    color: #9CCED8;
    font-size: 18px;
    float: left;
    padding: 7px 15px;
}
.ctrlF .h-form{
    width: 820px;
    float: right;
    padding: 12px 0 0;
    height: 33px;
}
.ctrlF .h-form input[type="text"]{
    width: 200px;
    background: #fff;
}
.ctrlF .hsi-navpage{
    top: 0;
    margin: 0 30px 0 5px;
}
.ctrlF .btn-replace:first-of-type{
    margin: 0 0 0 10px;
}
.ctrlF .btn-replace{
    padding: 0 15px;
    margin: 0 0 0 5px;
}
.ctrlF .btn-replace:hover, .ctrlF .btn-replace:focus{
    background: #008BA6;
}
.ctrlF .mfp-close{
    line-height: 57px;
    padding: 0 20px;
    color: #023B47;
    text-shadow: 1px 1px 1px #9CCED8;
}
.ctrlF .mfp-close:hover, .ctrlF .mfp-close:focus{
    color: #fff;
    text-shadow: none;
}
.ctrlF .mfp-close:active{
    text-decoration: none;
}

#smallLoader{
    position: absolute;
    height: 100%;
    width: 7px;
    top: 0;
    left: -7px;
    background: url(../images/load2.png) repeat-y;
}

#stats{
    margin: 104px 0 0;
    padding: 54px 30px 50px;
    background: #fff;
    display: none;
}

#stats-details{
    display: block;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 10px 0 0;
    margin: 0 0 50px;
    border-top: 1px solid #DCDCDC;
}

#stats-details li{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 50%;
    height: auto;
}

.stats-title{
    text-transform: uppercase;
    color: #ACACAC;
    font-size: 11px;
    font-weight: 700;
    padding: 6px 0 0;
    margin: 6px 0 0;
    border-top: 1px solid #DCDCDC;
}

#stats-details .stats-content{
    color: #4A4A4A;
    font-weight: 700;
}

#stats-details > li > .stats-content{
    font-size: 120px;
    letter-spacing: -4.8px;
    font-weight: 700;
    height: 110px;
    line-height: 110px;
    margin: 0 0 12px;
}

#stats-details-small{
    display: block;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#stats-details-small li{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 0 0 20px;
    width: 33.33333333%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#stats-details-small .stats-content{
    font-size: 20px;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 21px 0 0 0;
}

#stats-details-small .big .stats-content{
    font-size: 40px;
    padding: 0px 0 0 0;
}

#repetitions{
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(177, 177, 177, 0.02);
    border: 1px solid #f7f7f7;
    padding: 12px 10px 16px;
}

#repetitions-details{
    display: block;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #DCDCDC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#repetitions-details li{
    display: inline-block;
    vertical-align: top;
    margin: 16px 0 0;
    padding: 0 20px 0 0;
    width: 16.666666667%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#repetitions-details li:last-of-type{
    padding: 0;
}

#repetitions-details .stats-content{
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 0 0;
}

#repetitions-details .stats-title{
    font-size: 11px;
    color: #ACACAC;
    border-top: 1px solid #DCDCDC;
    padding: 5px 0 0;
}