/* ----------------------------------------------------------
   Header
   ------------------------------------------------------- */

body {
    padding: 105px 0 0 10px;
}

body.sidebar-open #main-container {
    margin-left: 400px;
}
body.one-sidebar #main-container{
    margin-left: 270px
}
body.one-sidebar #create-project{
    padding-left: 0;
}

.header {
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 49px;
    background: #008ba6;
    color: #9CCED8;
    border-bottom: solid 2px #04788F;
    min-width: 500px;
}
#tptranslate .header{
    min-width: 1150px;
}

/* Logo + search form
   ----------------------- */

.h-logo {
    margin: 0 0 0 10px;
}

.h-logo a {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 51px;
}

.h-logo i {
    position: relative;
    font-size: 25px;
    position: relative;
    top: 7px;
    padding: 0 5px 0 0;
}

.h-item {
    float: left;
}

.h-logo {
    width: 191px;
}

.h-form {
    position: relative;
    padding-top: 10px;
    width: 200px;
    line-height: 49px;
}

.h-form input[type="text"] {
    height: 30px;
    border: 0;
    border-radius: 15px;
    background: #04788f;
    background-clip: border;
    color: #9CCED8;
    padding: 0 0 0 10px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.h-form button, .loupeBtn{
    position: absolute;
    top: 9px;
    right: 1px;
    border: 0;
    font-family: 'amigocat';
    color: #9CCED8;
    background: 0;
    padding-top: 7px;
    font-size: 16px;
    outline: 0;
    line-height: 17px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.loupeBtn{
    color: #707070;
    top: 6px;
    right: 4px;
}

.remember-value button{
    font-family: 'amigocat2';
    font-size: 13px;
    top: 11px;
}

.h-form button:hover, .h-form button:focus{
    color: #000;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.h-avatar {
    float: right;
    position: relative;
    margin: 10px 40px 0 0;
}

.h-avatar .s-item {
    display: inline-block;
    color: rgb(156, 206, 216);
}

.ha-name {
    display: inline-block;
    padding: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
    color: #9CCED8;
    background: #04788F;
    *display: inline;
    *zoom: 1;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.usermenu-open .ha-name-iconed{
    height: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#open-usermenu{
    cursor: pointer;
}

#open-usermenu:hover .ha-name, .ha-name:hover, .ha-name:focus{
    color: #04788F;
    background: #fff;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.usermenu-open #open-usermenu:hover .ha-name, .usermenu-open .ha-name:hover, .usermenu-open .ha-name:focus{
    background: #04788F;
    color: #9CCED8;
}

.ha-name-iconed {
    padding-right: 40px;
    max-width: 120px;
    min-width: 55px;
}

.ha-img {
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px transparent solid;
    border-radius: 50px;
    overflow: hidden;
    line-height: 1.2;
}

.block-rounded {
    display: inline-block;
    height: 30px;
    border: 1px #008BA6 solid;
    border-radius: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #9CCED8;
    vertical-align: top;
    position: relative;
}

/* ----------------------------------------------------------
   Submenu
   ------------------------------------------------------- */

.header-sub {
    z-index: 10;
    position: fixed;
    top: 49px;
    right: 0;
    left: 0;
    background: #04788F;
}

.header-sub-disable {
    visibility: hidden;
}

.hs-inner {
    background: #04788F;
    bottom: 0;
    height: 55px;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    min-width: 1150px;
}
.sidebar-open .hs-inner{
    min-width: 750px;
}


.warning-notif{
    position: fixed;
    top: 51px;
    width: 100%;
    height: 45px;
    z-index: 10;
    background: #FFBD4D;
}
.warning-notif .hs-inner{
    height: 45px;
    line-height: 45px;
    background: #FFBD4D;
    color: #000;
    font-size: 14px;
}
.warning-notif .hs-inner > strong{
    padding: 0 0 0 40px;
}

.warning-actions{
    float: right;
    padding: 0 40px 0 0;
}
.warning-actions a{
    display: inline-block;
    padding: 4px 10px;
    background: #000;
    color: #fff;
    line-height: 13px;
    font-size: 12px;
    border-radius: 20px;
    margin: 0 0 0 5px;
    border: 2px solid #000;
}
.warning-actions a:first-of-type{
    background: #fff;
    color: #000;
    border-color: #fff;
}
.warning-actions a:hover, .warning-actions a:focus{
    background: #FFBD4D;
    color: #000;
}
.warning-actions a:first-of-type:hover, .warning-actions a:first-of-type:focus{
    color: #fff;
}

.warning-notif + .header-sub{
    top: 96px;
}

/* Btn open / close sidebar
   ----------------------- */

body.sidebar-open .hs-inner {
    left: 399px;
}

.hsi-opensidebar, .hsi-openstats{
    position: relative;
    top: 12px;
    width: 30px;
    margin: 0 0 0 10px;
    z-index: 100;
}
.hsi-openstats{
    top: 0;
    margin: 0 5px 0 0;
}
.hsi-opensidebar:hover, .hsi-opensidebar:focus, .hsi-openstats:hover, .hsi-openstats:focus, .hsi-openstats.actif{
    background: #008BA6;
}
.hsi-openstats.actif{
    color: #fff;
}
.hsi-opensidebar:before{
    position: absolute;
    left: 8px;
    font-size: 11px;
    top: 1px;
}
.hsi-openstats:before{
    position: absolute;
    left: 8px;
    font-size: 15px;
}
.hsi-opensidebar:active, .hsi-openstats:active{
    text-decoration: none;
}

body.sidebar-open .hsi-opensidebar:before {
    content: "\e611";
    left: 9px;
}

/* Nav / stats
   ----------------------- */

.hs-inner-navstats {
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
}

.hsi-navpage {
    position: relative;
    top: 12px;
    width: 60px;
    margin: 0 5px 0 87px;
    overflow: hidden;
}

body.sidebar-open .hsi-navpage{
    margin: 0 5px;
}
body.sidebar-open .hsi-navpage + .hsi-text{
    display: none;
}
body.sidebar-open .hsi-navpage + .hsi-text + .hsi-text{
    display: none;
}
body.sidebar-open .hsi-progressbar{
    width: 50px;
    margin: 0;
}

.hsin-item {
    width: 30px;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.hsin-item + .hsin-item {
    width: 29px;
}

.block-rounded > .item {
    float: left;
    position: relative;
    line-height: 30px;
}
.hsi-navpage .item:hover, .hsi-navpage .item:focus{
    background: #008BA6;
}

.block-rounded > .item + .item {
    border-left: 1px #008BA6 solid;
}

.hsin-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -3px 0 0 -2px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.hsin-item.is-left:before {
    border-right: 4px solid #9CCED8;
}
.hsin-item.is-left:hover:before{
    border-right-color: #fff;
}

.hsin-item.is-right:before {
    margin-left: -3px;
    border-left: 4px solid #9CCED8;
}
.hsin-item.is-right:hover:before{
    border-left-color: #fff;
}

.hsi-navpage + .hsi-text{
    padding: 0 20px 0 0;
}
.hsi-navpage + .hsi-text strong{
    display: inline-block;
    line-height: 10px;
}
.hsi-navpage + .hsi-text strong span{
    max-width: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}

.hsi-text {
    font-size: 12px;
    line-height: 55px;
    color: #9CCED8;
}

.hsi-text strong {
    font-weight: 700;
}

/* Progress bar */

.hsi-progressbar {
    display: inline-block;
    position: relative;
    width: 86px;
    height: 12px;
    margin: 0 0 0 13px;
    padding: 0 1px;
    border-radius: 6px;
    line-height: 12px;
    vertical-align: middle;
    background: #056072;
    -webkit-box-shadow: 0 1px 0 0 #008BA6;
    -moz-box-shadow: 0 1px 0 0 #008BA6;
    box-shadow: 0 1px 0 0 #008BA6;
    *display: inline;
    *zoom: 1;
}

.hsi-progressbar .bar {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 8px;
    max-width: 84px;
    border-radius: 5px;
    line-height: 8px;
    background: #FBA617;
}
.project-users-block {
    display: inline-block;
    height: 17px;
    margin: 0;
    padding: 0 1px;
    line-height: 25px;
    vertical-align: top;
    margin: 12px 0 0;
}
.hsi-text + .project-users-block{
    margin-left: 13px;
}
.more-users{
    display: none;
    position: relative;
}
.more-users span{
    position: absolute;
    width: 27px;
    left: 4px;
    text-align: center;
    color: #B8DEE6;
    top: 2px;
    font-size: 16px;
}

body.sidebar-open .project-users-block {
    display: none;
}
body.sidebar-open .hsi-text + .project-users-block, body.sidebar-open .more-users{
    display: inline-block;
}

.project-users-block img {
    border-radius: 50%;
    height: 27px;
    width: 27px;
    border: 2px solid #066072;
    -webkit-box-shadow: 0 1px 0 0 #008BA6;
    -moz-box-shadow: 0 1px 0 0 #008BA6;
    box-shadow: 0 1px 0 0 #008BA6;
}

/* Config */

.hsi-config {
    position: relative;
    top: 12px;
    float: right;
    margin: 0 40px 0 0;
    padding: 0 0 20px;
}

body.sidebar-open .hsi-config{
    margin: 0 5px 0 0;
}

.hsic-sortby {
    overflow: hidden;
    padding: 0 0 0 13px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
    background: #04788F;
}

.hsic-sortby a {
    font-size: 14px;
    color: #9CCED8;
}

.hsic-sortby .item {
    padding: 0 25px 0 0;
    position: relative;
}

.hsic-sortby .item:after, .menu-config:after, .config-dropdown .item:after{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 9px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #9CCED8;
    pointer-events: none;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

.hsic-sortby .item + .item {
    padding: 0 5px 0 9px;
    width: 20px;
    font-size: 16px;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.hsic-sortby .item + .item:hover, .hsic-sortby .item + .item:focus{
    color: #fff;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}

.hsic-sortby .item + .item:after {
    right: -4px;
}
.order-items-select {
    position: absolute;
    left: 55px;
    top: 4px;
    width: 103px;
    overflow: hidden;
}
.order-items-select select{
    color: #9CCED8;
    background: none;
    border: 0;
    width: 155px;
    cursor: pointer;
    outline: 0;
    line-height: 22px;
    -webkit-appearance: none;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.order-items-select:hover, .hsic-sortby .item:hover:after{
    border-top-color: #fff;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.order-items-select select:focus, .order-items-select select:hover, .hsic-sortby .item:hover .order-items-select select{
    color: #fff;
}
#order-items {
    position: relative;
    padding-right: 130px;
    overflow: hidden;
}
.sorting-option {
    background: #04788F;
    border: 1px #008BA6 solid;
    border-width: 0 1px 1px 1px;
}
.menu-config{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 16px 0 8px;
    border-left: 0;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.menu-config:hover{
    color: #fff;
    background: #008BA6;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.menu-config:hover:after{
    border-top-color: #fff;
}
.menu-config.open{
    background: #008BA6;
}
.menu-config.open:hover:after{
    border-bottom-color: #fff;
}
.menu-config.open:after{
    border-top-color: transparent;
    border-bottom: 4px solid #9CCED8;
    top: 9px;
}
.item.icon-cog{
    font-size: 16px;
    padding: 0 2px 0 0;
    position: relative;
    z-index: 1;
}
.config-dropdown {
    display: none;
    position: absolute;
    top: 15px;
    background: #008BA6;
    padding: 20px 0 0;
    right: -1px;
    border-radius: 0 0 10px 10px;
    width: 228px;
}
.config-dropdown li {
    position: relative;
}
.config-dropdown .filter{
    padding: 8px 0 8px 40px;
    color: #9CCED8;
}
.config-dropdown li:before{
    position: absolute;
    font-size: 15px;
    top: 24%;
    left: 12px;
    color: #9CCED8;
}
.config-dropdown .cat-TM:before{
    font-size: 8px;
    top: 35%;
    left: 11px;
}
.config-dropdown .cat-g:before{
    font-size: 16px;
    top: 22%;
}
.config-dropdown a{
    color: #fff;
    display: block;
    font-family: Open Sans, 'Open Sans', sans-serif;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    padding: 8px 0 8px 40px;
    border-bottom: 1px solid #04788F;
}
.config-dropdown a:hover, .config-dropdown a:focus{
    color: #9CCED8;
    background: #04788F;
}
.config-dropdown span{
    font-size: 11px;
    color: #9CCED8;
}
.config-dropdown .icon-search{
    background: none;
    width: auto;
    height: auto;
}
.config-dropdown li > .item{
    overflow: hidden;
    height: auto;
    width: 95px;
    margin: -2px 0 0 15px;
    display: inline-block;
    vertical-align: middle;
}
.config-dropdown .order-items-select{
    position: relative;
    top: 0;
    left: -25px;
    direction: rtl;
    width: 140px;
    color: #fff;
    padding-right: 20px;
    background: none;
    border: 0;
    cursor: pointer;
    outline: 0;
    line-height: 22px;
    -webkit-appearance: none;
}
.config-dropdown .item:after{
    border-top-color: #fff;
    top: 16px;
    right: 24px;
}
.menu-action a {
    cursor: pointer;
}
.menu-action i {
    margin-right: 5px;
}
.config-dropdown .js-copyoriginal:active {
    text-decoration: none;
}
.config-dropdown #search {
    float: none;
    margin: 0;
}
.config-dropdown #search-form {
    padding: 3px;
}
.config-dropdown  .btn-search {
    margin-left: 4.5em;
}

.hsi-view{
    margin: 0 0 0 5px;
}
.hsi-view a{
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    position: relative;
    margin: 1px 0;
}
.hsi-view a.actif{
    background: #9CCED8;
    color: #04788F;
}
.hsi-view .cat-eye{
    margin-right: 1px;
}
.hsi-view .cat-pen{
    margin-left: 1px;
}
.hsi-view a:active{
    text-decoration: none;
    color: #fff;
}
.hsi-view a:before{
    position: absolute;
    top: 6px;
    left: 9px;
    font-size: 15px;
}
.hsi-view .cat-eye:before{
    top: 9px;
    left: 6px;
    font-size: 11px;
}

.admin-margin-top{
    margin-top: 60px !important;
}
