/* ----------------------------------------------------------
   Sidebar
   ------------------------------------------------------- */

ul.sidebar {
    z-index: 10;
    position: fixed;
    top: 51px;
    bottom: 0;
    width: 4px;
    overflow: hidden;
    background: #313131;
}

.usermenu {
    position: absolute;
    top: 40px;
    right: -44px;
    width: 4px;
    background: #04788F;
    border-top: 1px solid #008BA6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: -1;
}

.usermenu li{
    border-bottom: 1px solid #008BA6;
}
.usermenu .log{
    border: 0;
    text-align: center;
    padding: 10px 0 0;
}
.usermenu .log a{
    padding: 0;
    font-size: 10px;
    font-weight: normal;
    color: #9CCED8;
    width: auto;
    font-family: Open Sans, 'Open Sans', sans-serif;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.usermenu .log a:before{
    font-size: 8px;
    padding: 5px;
    font-family: 'amigocat2';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.usermenu .log a:hover, .usermenu .log a:focus{
    color: #fff;
    background: none;
}

.usermenu .s-item{
    display: block;
    font-size: 12px;
    color: #fff;
    padding: 0 0 0 15px;
    line-height: 30px;
    font-weight: 700;
    width: auto;
}
.usermenu .s-item:hover, .usermenu .s-item:focus{
    background: #008BA6;
}

.usermenu-open .usermenu {
    width: 100%;
    height: 200px;
    right: 0;
}

.config {
    z-index: 3;
    position: fixed;
    top: 110px;
    bottom: 0;
    right: 0px;
    width: 4px;
    padding: 40px 0 0;
    overflow: hidden;
    background: #313131;
}

body.config-open .config {
    width: 200px;
    height: 470px;
}

body.sidebar-open .sidebar {
    width: 200px;
}

body.sidebar-disable .sidebar {
    display:none;
}

.sidebar.is-submenu {
    width: 6px;
    padding: 19px 0 0;
}

.sidebar li {
    display: block;
    border-bottom: 1px solid #4a4a4a;
}

.sidebar > li{
    background: #313131;
}

.projets{
    position: absolute;
    z-index: -1;
    top: 139px;
}

#nextProjects{
    position: absolute;
    bottom: 41px;
    background: #404040;
    border-top: 1px solid #4a4a4a;
    display: none;
}
#prevProjects{
    background: #404040;
    display: none;
}
#nextProjects i, #prevProjects i{
    font-size: 4px;
    vertical-align: middle;
    padding: 0 0 0 5px;
}

.s-menu li:before{
    position: absolute;
    font-size: 15px;
    top: 12px;
    left: 18px;
    color: #797979;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.s-menu li:hover:before{
    color: #fff;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.s-menu .actif-settings{
    color: #fff;
    background: #252525;
}
.s-menu .actif-settings:before, .s-menu .actif-settings a{
    color: #fff;
}
.s-menu .s-item, .sidebar.is-submenu .s-menu .s-item{
    font-family: Open Sans, 'Open Sans', sans-serif;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    padding: 0 0 0 40px;
}

.sidebar.is-submenu .s-menu .s-item{
    text-transform: none;
    color: #9B9B9B;
    font-size: 14px;
    font-weight: normal;
}
.is-submenu li:before{
    color: #bfbfbf;
}
.is-submenu li:hover:before{
    color: #04788f;
}
.sidebar.is-submenu .s-menu .s-item:after{
    display: none;
}

.s-item{
    display: block;
    position: relative;
    padding: 0 20px 0 20px;
    line-height: 39px;
    color: #9B9B9B;
    font-size: 14px;
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sub-active-dash{
    color: #fff;
    background: #252525;
}

.s-item:hover, .s-item:focus{
    color: #fff;
}

.has-notif span{
    color: #fff;
    background: #6F6F6F;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 7px;
    line-height: 15px;
    display: inline-block;
    margin: 0 0 0 5px;
}

.s-item.has-notif span{
    background: #008BA6;
}

.s-title {
    text-shadow: 0 1px 0 #3F3F3F;
    font-size: 11px;
    color: #202020;
    text-transform: uppercase;
    padding: 26px 0 0 20px;
    font-weight: 700;
    line-height: 32px;
}

.s-menu{
    position: absolute;
    width: 100%;
    bottom: -1px;
    border-top: 2px solid #4a4a4a;
}
.is-submenu .s-menu{
    border-color: #DCDCDC;
}

/* ----------------------------------------------------------
   Sidebar Submenu
   ------------------------------------------------------- */

.sidebar.is-submenu {
    left: 4px;
    border-right: 1px #D8D8D8 solid;
    background: #F7F7F7;
}

body.sidebar-open .sidebar.is-submenu {
    left: 200px;
    width: 199px;
}

.sidebar.is-submenu > li {
    border-bottom-color: transparent;
    background: none;
}

.sidebar.is-submenu .s-item,
.sidebar.is-submenu .s-item-disabled,
.sidebar.is-submenu .s-item-link {
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #008BA6;
}
.sidebar.is-submenu .s-item:hover,
.sidebar.is-submenu .s-item-disabled:hover,
.sidebar.is-submenu .s-item-link:hover{
    color: #04788f;
}
.sidebar.is-submenu .s-item.is-open:hover:after{
    border-top-color: #04788f;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
.sidebar.is-submenu .s-item:hover:after{
    border-left-color: #04788f;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}

.sidebar.is-submenu .s-item-disabled {
    cursor: default;
    line-height: 38px;
    display: block;
}
.sidebar.is-submenu .s-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 45%;
    right: 7px;
    margin-top: -2px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #008BA6;
}

.sidebar.is-submenu .s-item.is-open:after {
    border: 0;
    border-top: 4px solid #008BA6;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* Sub-submenu
   ----------------------- */

.ss-sub {
    border-bottom: 1px #D8D8D8 solid;
}

.sidebar .ss-sub li {
    border-bottom: none;
    padding: 0;
}
.ss-sub {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.s-item.is-open + .ss-sub {
    height: auto;
    overflow: visible;
    opacity: 1;
}

.is-submenu .sss-item:last-of-type{
    border-bottom: 1px #D8D8D8 solid;
}
.ss-sub .sss-item:last-of-type{
    border-bottom: 0;
}
.sss-item {
    display: block;
    padding: 0 0 0 30px;
    border-top: 1px #D8D8D8 solid;
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
    color: #4A4A4A;
    cursor: default;
}
.sss-item.passed{
    padding: 0;
}
.sss-item.active {
    background: #fff;
    font-weight: 800;
}
.sss-item.disabled {
    color: #707070;
}

.sss-item a{
    display: block;
    padding: 1px 10px 0px 30px;
    color: #707070;
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sss-item a:hover, .sss-item a:focus{
    background: #fff;
}